body, select, input, button, textarea
{
	font: 13px/1.5 Helvetica Neue, Arial, Helvetica, 'Liberation Sans', FreeSans, sans-serif;
	color: #333;
}

h1
{
	font-size:138.5%;  
}

h2
{
	font-size:123.1%; 
}

h3
{
	font-size:108%; 
}

h1, h2, h3, h4, h5, h6
{
	font-weight: bold;
}

a, a:active, a:visited
{
	color: #2d76b9;
	/*color: #607890;*/
}

a:hover {
	/*color: #036;*/
	text-decoration: underline;
}

a:focus
{
	outline: 1px dotted;
}

/*form*/

form {

}

form .header
{

}

form .header .title
{
	font-weight: bold;
	margin: 5px 0;
}

form .header .sub-title 
{
	margin-bottom: 5px;
}

form fieldset
{

}

form fieldset .row
{
	margin: 5px 0;
}

form fieldset .row label
{
	display: block;
	font-weight: bold;
}

form fieldset .row input[type=text], form fieldset .row input[type=password]
{
	width: 192px;
	height: 21px;
	padding: 3px;
	border: 1px solid #ccc;
	margin-top: 2px;
}

form fieldset .row.inline
{

}

form fieldset .row.inline label
{
	display: inline;
	vertical-align: middle;
	font-weight: normal;
}

form fieldset .row.inline input[type=checkbox], form fieldset .row.inline input[type=radio]
{
	display: inline;
	vertical-align: middle;
}

form fieldset.buttons
{
	margin-top: 5px;
}

form fieldset.buttons input, form fieldset.buttons button
{

}

form .footer
{

}

/*wide forms*/

form.wf
{

}

form.wf .header
{
	border-bottom: 1px solid #ccc;
	margin: 0 auto 10px auto;
}

form.wf fieldset
{

}

form.wf fieldset .row
{
	margin: 5px 0;
}

form.wf fieldset .row label
{
	width: 140px;
	display: inline-block;
	text-align: right;
	margin-right: 10px;
	font-weight: normal;
}

form.wf fieldset .row input[type=text], form.wf fieldset .row input[type=password]
{
	width: 222px;
	display: inline-block;
}

form.wf fieldset .row.inline
{
	padding-left: 155px;
}

form.wf fieldset .row.inline label
{
	display: inline-block;
	text-align: left; 
	width: auto;
}

form.wf fieldset .row.inline input[type=checkbox], form.wf fieldset .row.inline input[type=radio]
{
	display: inline-block;
}

form.wf fieldset.buttons
{
	padding-left: 155px;
}

form.wf fieldset.buttons input, form.wf fieldset.buttons button
{

}

form.wf .footer
{

}

/*misc*/
.first {margin-left: 0 !important;}
.last {margin-right: 0 !important;}
.top {margin-top: 0 !important;}
.bottom {margin-bottom: 0 !important;}

/*layout*/
#page
{
}

#header-container
{
	text-align: center;
	background: #111;
	box-shadow: 0 1px 4px 1px rgba(0, 0, 0, .5);
	line-height: 38px;
	margin-bottom: 10px;
}

#header-container #header
{
	margin: 0 auto;
	text-align: left;
	width: 960px;
}

#header-container #header #header-content
{
}

#header-container #header #header-content a
{
	color: #bababa;
	text-decoration: none;
}

#header-container #header #header-content a:hover
{
	color: #fff;
}

#header-container #header #header-content .logo
{
	float: left;
	width: 150px;
	margin-right: 10px;
}

#header-container #header #header-content .logo a
{
	display:block;
	background: url('../images/logo.png') center left no-repeat;
}

#header-container #header #header-content .global-utils
{
	float: left;
	width: 800px;
}

#header-container #header #header-content .global-utils .global-search
{
	float: left;
	width: 250px;
}

#header-container #header #header-content .global-utils .global-search form
{
	opacity: 1;
}

#header-container #header #header-content .global-utils .global-search form input
{
	background: #666;
	border: 1px solid #000;
	box-shadow: 0 1px 0 #444;
	color: #ccc;
	width: 240px;
	height: 15px;
	padding: 4px;
	vertical-align: middle;
}

#header-container #header #header-content .global-utils .global-search form input:hover,
#header-container #header #header-content .global-utils .global-search form input:focus
{
	background: #eee;
	border: 1px solid #eee;
	color: #333;
	box-shadow: 0 0 3px 0 #000;
	outline: none;
	text-shadow: 0 1px 0 0 #fff;
}

#header-container #header #header-content .global-utils ul
{
	list-style: none;
	float: left;
}

#header-container #header #header-content .global-utils ul li
{
	display: block;
	float: left;
	position: relative;
}

#header-container #header #header-content .global-utils ul li:hover
{
	background: #333333;
}

#header-container #header #header-content .global-utils ul li a
{
	display: block;
	padding: 0px 10px;
}

#header-container #header #header-content .global-utils ul li a:hover
{
}

#header-container #header #header-content .global-utils ul li ul
{
	display: none;
	position: absolute;
	left: 0;
	line-height: normal;
	background: #333333;
}

#header-container #header #header-content .global-utils ul li:hover ul
{
	display: block;
}

#header-container #header #header-content .global-utils ul li ul li
{
	float: none;
}

#header-container #header #header-content .global-utils ul li ul li a
{
	white-space:nowrap;
	padding: 5px 10px;
}

#header-container #header #header-content .global-utils ul li ul li a:hover
{
	background: #424242;
}

#header-container #header #header-content .global-utils ul li ul,
#header-container #header #header-content .global-utils ul li ul li:last-child,
#header-container #header #header-content .global-utils ul li ul li a:last-child
{
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

#header-container #header #header-content .global-utils .global-nav
{
	float: right;
	width: 550px;
}

#header-container #header #header-content .global-utils .global-nav ul
{
	float: right;
}

#header-container #header #header-content .global-utils .global-nav ul li ul
{
	right: 0;
	left: auto;
}

#canvas-container
{
	text-align: center;
}

#canvas-container #canvas
{
	margin: 0 auto;
	text-align: left;
	width: 960px;
	background: #fff;
}

/*1 column*/

#canvas-container #canvas #content
{
}

#canvas-container #canvas #content .action
{

}

#canvas-container #canvas #content .action .section
{

}

#canvas-container #canvas #content .action .section .section-header
{

}

#canvas-container #canvas #content .action .section .section-header .left
{
	float: left;
	width: 35%;
}

#canvas-container #canvas #content .action .section .section-header .middle
{
	float: left;
	width: 40%;
}

#canvas-container #canvas #content .action .section .section-header .right
{
	float: right;
	width: 25%;
	text-align: right;
}

#canvas-container #canvas #content .action .section .section-content
{

}

/*sidebar-left*/
#canvas-container #canvas.sidebar-left
{
}

#canvas-container #canvas.sidebar-left #sidebar-left
{
	float: left;
	width: 200px;
}

#canvas-container #canvas.sidebar-left #sidebar-left .sidebar-content
{
}

#canvas-container #canvas.sidebar-left #content
{
	float: left;
	width: 760px;
}

/*sidebar-right*/
#canvas-container #canvas.sidebar-right
{

}

#canvas-container #canvas.sidebar-right #content
{
	float: left;
	width: 720px;
}

#canvas-container #canvas.sidebar-right #sidebar-right
{
	float: right;
	width: 240px;
}

#canvas-container #canvas.sidebar-right #sidebar-right .sidebar-content
{

}

/*sidebars*/
#canvas-container #canvas.sidebars
{

}

#canvas-container #canvas.sidebars #sidebar-left
{
	float: left;
	width: 200px;
}

#canvas-container #canvas.sidebars #sidebar-left .sidebar-content
{

}

#canvas-container #canvas.sidebars #content
{
	float: left;
	width: 530px;
}

#canvas-container #canvas.sidebars #sidebar-right
{
	float: right;
	width: 230px;
}

#canvas-container #canvas.sidebars #sidebar-right .sidebar-content
{

}

#footer-container
{
	text-align: center;
}

#footer-container #footer
{
	margin: 10px auto 0 auto;
	text-align: left;
	width: 960px;
}

#footer-container #footer #footer-content 
{

}
